.custom{
    height: 17vh;
    width: 30vw;
    overflow: hidden;
    //border: 2px red solid !important;
   margin:auto;
  
}

img{
    object-fit: contain;
}

.custom2{
    box-shadow:2px 2px 2px 2px rgb(143, 144, 145);
}