<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card [routerLink]="'/view/' + 1" class="custom2">
    <ion-card-header>
    
    </ion-card-header>
    <ion-card-content>
      <div class="custom">
        <img src="../../assets/images/google.png" alt="">
      </div>
    </ion-card-content>
  </ion-card>


  <ion-card [routerLink]="'/view/' + 2" class="custom2">
    <ion-card-header>
     
      
    </ion-card-header>
    <ion-card-content>
      <div class="custom">
        <img src="../../assets/images/samsung.png" alt="">
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card [routerLink]="'/view/' + 3" class="custom2">
    <ion-card-header>
     
      
    </ion-card-header>
    <ion-card-content>
      <div class="custom">
        <img src="../../assets/images/oneplus.png" alt="">
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>