<ion-header>
  <ion-toolbar>
    <ion-title>{{pageTitle}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-item>
    
  </ion-item>
  <ion-card class="card">
      <ion-card-header>
        <ion-card-title></ion-card-title>
        <ion-card-subtitle></ion-card-subtitle>
        <ion-card class="custom2">
          <ion-card-content>
            <div class="custom">
              <img src="../../assets/images/pixel_3a.jpg" alt="">
            </div>
          </ion-card-content>
        </ion-card>
       <div class="space">
          <ion-text color="primary">
              <ion-text>
                  {{camera}}
              </ion-text><br>
              <ion-text>
                  {{processor}}
              </ion-text><br>
              <ion-text>
                  {{display}}
              </ion-text><br>
              <ion-text>
                  {{battery}}
              </ion-text>
              <ion-text>
                  {{features}}
              </ion-text>
              <ion-text>
                  {{technology}}
              </ion-text>
              <ion-text>
                  {{colors}}
              </ion-text>
              <ion-text>
                  {{sound}}
              </ion-text>
          </ion-text>
       </div>
        
      </ion-card-header>
      
      <ion-card-content>
        
        
      </ion-card-content>
      <a href={{link}} class="custom">Watch Unboxing Video</a>
      <ion-button fill="outline" size="small" class="position">
        BUY
      </ion-button>
    </ion-card>
    

   

</ion-content>