.position_l{
    float:left;
}



.custom{
    height: 17vh;
    width: 30vw;
    overflow: hidden;
    //border: 2px red solid !important;
   margin:auto;
  
}

.custom2{
    box-shadow:2px 2px 2px 2px rgb(30, 121, 163);
}

